#include <windows.h>
#include <commctrl.h>

#define IDD_FILE_DIALOG_OPTIONS 5001
#define IDC_OPTION_ENCODING     4001
#define IDC_OPTION_EOL          4002
#define IDC_OPTION_ENCODING_LABEL 4003
#define IDC_OPTION_EOL_LABEL      4004

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "app.manifest"

IDD_FILE_DIALOG_OPTIONS DIALOGEX 0, 0, 468, 30
STYLE WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS | DS_CONTROL | DS_3DLOOK
FONT 9, "MS Shell Dlg"
BEGIN
    LTEXT    "Encoding(&E):", IDC_OPTION_ENCODING_LABEL, 8, 9, 68, 12
    COMBOBOX IDC_OPTION_ENCODING, 80, 6, 150, 120, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT    "Line endings(&L):", IDC_OPTION_EOL_LABEL, 246, 9, 72, 12
    COMBOBOX IDC_OPTION_EOL, 322, 6, 130, 120, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
END
